.rocket-container {
    width: 100%;
  }
  
  .rocket-list {
    border: 1px solid #cbd3d9;
    border-radius: 5px;
  }
  
  .rocket-list li {
    list-style: none;
    border-bottom: 1px solid #cbd3d9;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .rocket-list li:last-child {
    border-bottom: none;
  }
  
  .no-rocket-title {
    font-weight: bold;
  }
  
  .no-rocket-text {
    background: #eee;
  }
  