.card-main {
  width: 88%;
  padding: 15px;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  gap: 1rem;
}

.image {
  width: 15rem;
  height: 10rem;
}

.image img {
  width: 100%;
}

.body {
  flex: 30rem;
}

.title {
  padding-bottom: 1rem;
}

.text {
  padding-bottom: 1rem;
  word-spacing: 0.1rem;
}

.buttonDiv {
  padding-bottom: 1rem;
}

.btnReserveRocket {
  padding: 0.7rem;
}
